VITE_SUPABASE_URL=https://ziyyyqiqtwrhkavaxuej.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InppeXl5cWlxdHdyaGthdmF4dWVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2OTA4NTMsImV4cCI6MjA5NDI2Njg1M30._NMUiR4Soj3KgQv6dp93K9qYXTH3EbB1REo5eGvM_yo
